<a href="https://colab.research.google.com/github/Ankitchawla3123/Python-Revised/blob/main/Tupple_dict_and_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Little bit about list

In [ ]:
# deletion
L=[13,3,4,53,5,2]
del L[2]
print(L)
del L[1:3]
print(L)

[13, 3, 53, 5, 2]
[13, 5, 2]

In [ ]:
L.remove(5)
L

[13, 2]

In [ ]:
L.pop() # will take index or last by default
L.clear() # makes it an empty list

In [ ]:
# Arthematic operators in list
L1=[1,2,3,4]
L2=[5,6,7,8]
print(L1+L2)
print(L1*3)
# in membership operator
# few of the functions in list clear min max sorted etc

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# list comprihension
# newlist = [ exp for i in iteration if condition == true]

In [ ]:
# ZIP FUNCTION
L1= [1,2,4,5,6]
L2=[2,4,5,62]
print((zip(L1,L2)))
print(list(zip(L1,L2)))
l3=[1,3,4,5,6,33,5,35,3]
print(list(zip(L1,l3)))

<zip object at 0x7d1534495880>
[(1, 2), (2, 4), (4, 5), (5, 62)]
[(1, 1), (2, 3), (4, 4), (5, 5), (6, 6)]

#TUPLE

In [ ]:
# # TUPLES ARE FASTER
# Immutability and Memory Allocation:
# Tuples: Being immutable, their size and contents are fixed once created.
# This allows the Python interpreter to allocate a single, contiguous block of memory for a tuple,
# knowing that its size will not change. This fixed memory footprint leads to more efficient memory utilization and
# potentially faster access times


# LESSER MEMORY
'''
Fixed Size and No Over-allocation: Tuples are immutable, meaning their size cannot change after creation.
This allows Python to allocate precisely the amount of memory needed for the tuple's
elements at the time of its creation. Lists, being mutable, are implemented as dynamic arrays.
To efficiently handle potential additions or removals of elements, lists often "over-allocate" memory,
meaning they reserve more memory than currently required to avoid frequent, expensive reallocations when the list grows.
This over-allocation contributes to lists using more memory.
'''

In [ ]:
# zip also works in this

#SETS

In [ ]:
# SETS IMPORTANT DATA-TYPE
# UNODERED AND  NO DUPLICATES
# We cannot have mutable datatypes inside set (like we cannot add list or dict )
# 2D sets not possible because set's themselves are multable we can add value in the set and remove also

s={ } # it creates a dictionary
s= set() # This is an empty set
# s={1,2,3,4,{23,31}} ## error as mutlatble inside the set
s= {1,2,"sd",13,(1,3)}
print(s)
s={1,12.3,True,(1,3,4)} # true act as 1 so it will be a duplicate
print(s)
# no order in set

s1={1,2,3}
s2={3,2,1}
print(s1==s2) # order doesn't matter

{'sd', 1, 2, (1, 3), 13}
{1, 12.3, (1, 3, 4)}
True

In [ ]:
#accessing items in set
# no indexing allowed
# nor the slicing
print(s)

# add
s.add(7)
print(s)

# update
s.update([42,23,5,5314]) # multiple items added
print(s)

{1, 12.3, (1, 3, 4)}
{1, 12.3, (1, 3, 4), 7}
{1, 5314, 5, 7, 42, 12.3, (1, 3, 4), 23}

In [ ]:
# delete

# del

# del s               delete the whole set

# discard
print(s)
s.discard(5)
print('after discard', s)
# no error thrown if object not found

# remove
s.remove(1)
print('after remove', s)
# error thrown if object not found

# pop  delete any item randomly
s.pop()

print(s)

# clear
# s.clear()
# print(s) empty set i.e  {}

{1, 5314, 5, 7, 42, 12.3, (1, 3, 4), 23}
after discard {1, 5314, 7, 42, 12.3, (1, 3, 4), 23}
after remove {5314, 7, 42, 12.3, (1, 3, 4), 23}
{7, 42, 12.3, (1, 3, 4), 23}

In [ ]:
# union s1 | s2
# intersection s1 & s2
# difference  s1-s2 = s1 - (s1 & s2)
# symetric diff  s1 ^ s2 = s1 U s2 - (s1 n s2) or we can say (s1 - s2) U (s2-s1)

# membership test in and not in

# also iteration is also available
for i in s:
  print(i, end=" ")

7 42 12.3 (1, 3, 4) 23

In [ ]:
# len, sum , min , max and sorted
print(s)
s2={2,4,5,52,42}
print(sorted(s2)) # will return a list
# print(sorted(s)) # nneeds same dataype this will show an error cannot sort

{7, 42, 12.3, (1, 3, 4), 23}
[2, 4, 5, 42, 52]

In [ ]:
# s1.union() # will show the union
# s1.update() # will do  the union and will save it in s1
# s1.intersection() # will show the intersection
# s1.intersection_update() # will save the intersection in s1
# s1.difference()
# s1.difference_update()
# s1.symmetric_difference()
# s1.symmetric_difference_update()

# s1.isdisjoint() # means no intersection

# s1.issubset(s2) # is part of the set inside the bracket set
# s1.issuperset(s2) # parent set of s2

s1={12,3,1,21}
s2=s1 # not a copy
s2= s1.copy() # different address

In [ ]:
# frozen set
# immutable set
fs=frozenset([1,2,3]) # any iterable to passed
print(fs)

frozenset({1, 2, 3})