In [ ]:
x=lambda a, b ,c: a+b+c
print(x(1,3,5))
 # return is by default

9

In [3]:
import pandas as pd;

In [ ]:
series=pd.Series([1,3,4,5,4,34,35]) # indexing is default
series

0     1
1     3
2     4
3     5
4     4
5    34
6    35
dtype: int64

In [ ]:
def addten(x) -> int:  # -> return type Optional info, Not Enforced 
    return "abc"
print(addten(3))

abc

In [9]:
def multiplywith100(x):
    return x*100

newseries= series.apply(multiplywith100)
print(newseries)
print("old series")
print(series)

0     100
1     300
2     400
3     500
4     400
5    3400
6    3500
dtype: int64
old series
0     1
1     3
2     4
3     5
4     4
5    34
6    35
dtype: int64

In [ ]:
# lambda and apply together
x=lambda a:a if a>200 else None

print(newseries.apply(x))
y= lambda a :a>200
print(newseries.apply(y))
print(newseries[newseries.apply(y)]) # most important as here if pass the true false array in [] of series it will take as conditional

0       NaN
1     300.0
2     400.0
3     500.0
4     400.0
5    3400.0
6    3500.0
dtype: float64
0    False
1     True
2     True
3     True
4     True
5     True
6     True
dtype: bool
1     300
2     400
3     500
4     400
5    3400
6    3500
dtype: int64

In [ ]:
# best is define a function if lambda is causing trouble
def greaterthan200(x) ->int: # or maybe float
    if x>200:
        return x
    else:
        return None # or np.nan
    
def  greaterthan300(x) ->bool : # removal of row output is boolean
    return x>300

print(newseries.apply(greaterthan200))
print(newseries.apply(greaterthan300))
newseries[newseries.apply(greaterthan300)]

0       NaN
1     300.0
2     400.0
3     500.0
4     400.0
5    3400.0
6    3500.0
dtype: float64
0    False
1    False
2     True
3     True
4     True
5     True
6     True
dtype: bool